
# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master,develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

#       - name: Decode google-services.json
#         env:
#           FIREBASE_SECRET: ${{ secrets.FIREBASE_SECRET }}
#         run: echo $FIREBASE_SECRET > app/google-services.json
      - name: Access API_KEY
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run: echo API_KEY=\"$API_KEY\"
             echo android.useAndroidX=true
             > ./gradle.properties

      - name: Unit tests
        run: bash ./gradlew test --stacktrace
